* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:18px;
}

.display-container {
  width:45vw;
  height:45vh;
  box-shadow:0px 0px 6px grey;
  border:5px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.display-container h2 {
  font-size:2rem;
  color:olivedrab;
  font-weight:bold;
}

.display-container p {
  font-size:1.25rem;
  color:red;
}